<form class="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <mat-form-field>
    <mat-label>Form Field</mat-label>
    <input
      matInput
      type="text"
      name="userName"
      [(ngModel)]="input.userName"
      #username="ngModel"
      [validate]="['required']"
    />
    <!-- <mat-error>asdasd</mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Form Field</mat-label>

    <input
      matInput
      type="text"
      name="password"
      [(ngModel)]="input.password"
      #password="ngModel"
      [validate]="['required']"
    />
    <!-- <mat-error>asdasd</mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Form Field</mat-label>

    <input
      matInput
      type="text"
      name="email"
      [(ngModel)]="input.email"
      #email="ngModel"
      [validate]="['required', 'validateEmail']"
    />
    <!-- <mat-error>asdasd</mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <mat-label>Form Field</mat-label>

    <input
      matInput
      type="text"
      name="phone"
      [(ngModel)]="input.phone"
      #phone="ngModel"
      [validate]="['required', 'validateTurkishPhone']"
    />
    <!-- <mat-error>asdasd</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Form Field</mat-label>

    <mat-label>Select</mat-label>
    <mat-select
      [(ngModel)]="input.loginType"
      [validate]="['required']"
      name="loginType"
    >
      <mat-option
        *ngFor="let type of loginTypes | keyvalue"
        [value]="type.value"
        >{{ type.key }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedValue" [validate]="['required']" name="erttete">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group> -->

  <button type="submit" [disabled]="myForm.invalid">Submit</button>

  <div>{{ myForm.valid | json }}</div>
</form>
